/***************/
/* YOUR STYLES */
/***************/

body{
    
    background: lightgray;
}
/* Color Palette */

.color-1{background: #281A1A;}

.color-2{background: #4E2D28;}
.color-3{background: #70454E;}
.color-4{background: #AE736F;}
.color-5{background: #DDA8B0;}

/*http://www.colourlovers.com/palette/1695805/City_of_God*/

/* Textures or Patterns*/
.pattern-1{
    
    background:url("../img/dark_embroidery.png");
    background-clip: 100%;
    
}
.pattern-2{
    
    background:url("../img/footer_lodyas.png");
    background-clip: 100%;
    
    
}.pattern-3{
    
    background:url("../img/grey_wash_wall.png");
    background-clip: 100%;
    
    
}.pattern-4{
    
    background:url("../img/symphony.png");
    background-clip: 100%;
    
    
}.pattern-5{
    
    background:url("../img/wild_flowers.png");
    background-clip: 100%;
    
    
}

/*http://subtlepatterns.com/*/



/* Imagery */

/*https://unsplash.com/*/

/* Icons */

    .icon-1, .icon-2, .icon-3{
        
        border: none;
    }
    
/*http://iconmonstr.com/*/


/* Navigation */

    nav li {
        
        list-style: none;
    }
    
    nav a:link {
        
        text-decoration: none;
        color: darkgray;
        text-transform: uppercase;
        letter-spacing: 2px;    
    }
    
    
    nav a:hover{
        
        color: #70454E;
    }

button{
    padding: 1em;
    background: black;
    color:darkgray;
    border: black solid 4px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

a{
    
    text-decoration: none;
    color: #70454E;
}
/* Typography */

h2{
    
    font-family: 'Roboto', sans-serif;
    font-size:2em;
    color:black;
}

.header2{
    
    font-family: font-family: 'Arimo', sans-serif;
    font-size:2em;
    color: #70454E;
}
