/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1{background: orange;}

.color-2{background: black;}

/* Textures or Patterns*/
.pattern-1{
    
    background:url("../img/dark_embroidery.png");
    background-clip: 100%;
    
}
.pattern-2{
    
    background:url("../img/footer_lodyas.png");
    background-clip: 100%;
    
    
}.pattern-3{
    
    background:url("../img/grey_wash_wall.png");
    background-clip: 100%;
    
    
}.pattern-4{
    
    background:url("../img/symphony.png");
    background-clip: 100%;
    
    
}.pattern-5{
    
    background:url("../img/wild_flowers.png");
    background-clip: 100%;
    
    
}

/* Imagery */

/* Icons */

    .icon-1{
        
        border: none;
    }
    
/* Navigation */

    nav li {
        
        list-style: none;
    }
    
    nav a:link {
        
        text-decoration: none;
        color: blue;
        text-transform: uppercase;
        letter-spacing: 2px;    
    }
    
    
    nav a:hover{
        
        color: red;
    }

button{
    padding: 1em;
    background: wheat;
    color: orange;
    border: black solid 4px;
    border-radius: 10px;
    font-family: 'Lobster Two', cursive;
}
/* Typography */

h2, h2{
    
    font-family: 'Lobster Two', cursive;
    font-size: 1.25em;
    color: orange;
}

